<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login node</title>
    <script type="text/javascript" src="../public/javascript/coordenadas.js"></script>
</head>

<body onload="locat()">
    <h1>Mapa</h1>
        <button onclick="start()" id="toma">Boton</button>
        <button onclick="stop()" id="parar" disabled>arar</button>

</body>


</html>