<!DOCTYPE html>
<html>

<head>
  <title>Perfil</title>
  <meta charset="utf-8">
  <% include partials/head %>
  <script type="text/javascript" src="./javascript/coordenadas.js"></script> 
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxBulUWENWsCHEl4ATFevpL7j85sjAZHY&callback=initMap">
  </script>
    <style>
      /* unvisited link */

      a:link {
        color: black;
      }

      /* visited link */

      a:visited {
        color: black;
      }

      /* mouse over link */

      a:hover {
        color: rgb(0, 0, 0);
      }

      /* selected link */

      a:active {
        color: rgb(255, 94, 0);
      }

      #map{
        height: 500px;
        width: 100%;
      }
    </style>
</head>

<body onload="locat('<%= user.local.email %>')">

  <header class="header-login-signup">

    <div class="header-limiter">
      <h1>
        <a href="/">Página
          <span>Inicio</span>
        </a>
      </h1>
      <ul>
        <li>
          <a href="javascript:void(0);" onclick="take()"> Tomar coordenadas </a>
        </li>
        <li>
          <a href="javascript:getmap()" > Mapa </a>
        </li>
      </ul>
    </div>
  </header>


  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3">
        <h4>User</h4>
        <ul class="list-group">
          <li class="list-group-item active">
            <a href="#section1">Ahora</a>
          </li>
          <li class="list-group-item">
            <a href="#section2">Ayer</a>
          </li>
          <li class="list-group-item">
            <a href="#section3">Fijar fecha</a>
          </li>
        </ul>
        <br>
      </div>

      <div class="col-sm-9">
        <h4>Localización</h4>
        <div class="card-body" id="take">
          <h1><span class="fa fa-lock"></span>Perfil: </h1> 
          <br> <%= user.local.email %>
          <form method="post" action="/addLoc" name="fm">
            <input type="hidden" name="user" value="">
            <input type="hidden" name="latitud" value="">
            <input type="hidden" name="longitud" value="">
          </form>
          <a href="/logout" class="btn btn-light btn-sm">Logout</a>
          
          <button onclick="start()" id="toma">Start</button>
          <button onclick="stop()" id="parar" disabled>stop</button>
        </div>
        <hr>
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>

  <footer class="container-fluid">
    <p>Geolocation Poyecto 4</p>
  </footer>

</body>

</html>